@import "tailwindcss";



body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  
}

@media (max-width: 768px) {
  .mobile-menu {
    align-items: initial;   /* ya initial */
  }
}
